
<div class="nui-view">
  <div class="nui-header bar-primary">
    <div class="title truncate">Big Spender. A Nomie Experiment.</div>
  </div>
  <br /><Br />
  <div class="nui-content has-header">
    <div class="p-a-5">
      <div class="p-a-2 container">
        <p class="text-thin text-center text-xl m-b-3">
          Track your Food Out Spending
        </p>
        <div class="col-sm-6 border-r-1">
          <div class="text-md text-bold text-center m-b-1 text-uppercase">How it works</div>
          <p>Using <a href="https://nomie.io">Nomie</a>, simply tap "Food Out Cost" and enter the amount you spent. BigSpender will send you a notification when you're coming close to your set limit.</p>
          <p>This Nomie experience only stores an anonymous id. It simply processes the data as it's sent each and every time, and then purges said data.</p>

      </div>
      <div class="border-b-1 border-t-1 m-b-2 p-a-2 p-t-3 text-center">
        <p class="text-faded text-uppercase text-bold">Exsiting Nomie user?</p>
        <a class="btn btn-lg btn-primary-outline m-b-2" href="nomie://api/code/bigspender">Add BigSpender Channel</a>
        <p class="text-faded text-uppercase text-bold">New to Nomie?</p>
        <p class="text-md text-faded m-t-2"><a href="https://nomie.io">Learn More</a> or simply install <a href="">Nomie for iOS</a> or <a href="">Nomie for Android</a> and use code: <strong>bigspender</strong></p>
      </div>
    </div>
  </div>
</div>
