
<div class="nui-view">
  <div class="nui-header bar-positive">
    <div class="title truncate">Localizer. A simple Nomie experiment.</div>
  </div>
  <br /><Br />
  <div class="nui-content has-header">
    <div class="p-a-5">
      <div class="hairline-bottom padding-lg-bottom margin-lg-bottom text-center">
        <a class="btn btn-lg btn-primary-outline" href="nomie://api/join-experiment/http://localizer.nomie.org/join">Join this Experiment</a>
        <p class="text-sm text-faded">Don't have <a href="https://nomie.io">Nomie</a>? <br /> Get it free: <a href="">Nomie for iOS</a> or <a href="">Nomie for Android</a></p>
      </div>
    </div>
  </div>
</div>
