<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Global Sleep Studys by Nomie</title>
  <meta name="description" content="See how the rest of the world is sleeping">
  <link rel="stylesheet" href="http://nui.nomie.org/css/nui.css">
</head>
<body>

  <%- body %>

</body>
</html>
