<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BigSpender | How much do you spend eating out?</title>
  <meta name="description" content="Track how much money you spend eating food out. ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://nui.nomie.org/css/nui.css">
</head>
<body>

  <%- body %>

</body>
</html>
