<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How much do you spend eating out? Track it with Nomie and Big Spender</title>
  <meta name="description" content="Track how much money you spend eating food out. ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//nui.nomie.io/0.1.1/nui.css">
</head>
<body>

  <%- body %>

</body>
</html>
