<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How much do you spend? Track it with Nomie and Big Spender</title>
  <meta name="description" content="Track how much money you spend eating food out. ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//nui.nomie.io/0.1.1/nui.css">
	<!-- Search engines -->
	<meta name="description" content="Become aware of your spending with Nomie (for tracking) and Big Spender (for Budgeting) for free.">
	<!-- Google Plus -->
	<!-- Update your html tag to include the itemscope and itemtype attributes. -->
	<!-- html itemscope itemtype="http://schema.org/{CONTENT_TYPE}" -->
	<meta itemprop="name" content="Create a Budget for anything! Big Spender & Nomie">
	<meta itemprop="description" content="Become aware of your spending with Nomie (for tracking) and Big Spender (for Budgeting) for free.">
	<meta itemprop="image" content="https://bigspender.nomie.org/album.jpg">
	<!-- Twitter -->
	<meta name="twitter:card" content="Become aware of your spending with Nomie (for tracking) and Big Spender (for Budgeting) for free.">
	<meta name="twitter:site" content="@NomieApp">
	<meta name="twitter:title" content="Create a Budget for anything! Big Spender & Nomie">
	<meta name="twitter:description" content="Become aware of your spending with Nomie (for tracking) and Big Spender (for Budgeting) for free.">
	<meta name="twitter:creator" content="@NomieApp">
	<meta name="twitter:image:src" content="https://bigspender.nomie.org/album.jpg">
	<meta name="twitter:player" content="">
	<!-- Open Graph General (Facebook & Pinterest) -->
	<meta property="og:url" content="https://bigspender.nomie.org">
	<meta property="og:title" content="Create a Budget for anything! Big Spender & Nomie">
	<meta property="og:description" content="Become aware of your spending with Nomie (for tracking) and Big Spender (for Budgeting) for free.">
	<meta property="og:site_name" content="Big Spender + Nomie">
	<meta property="og:image" content="https://bigspender.nomie.org/album.jpg">
</head>
<body>

  <%- body %>

</body>
</html>
